@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
    html {
    scroll-behavior: smooth;
    }

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

a {
  transition: color 0.2s ease;
}

a:hover {
  color: #2563eb; /* modern blue hover */
}

section {
  scroll-margin-top: 80px; /* works with sticky nav */
}
